@{
    ViewBag.Title = "CarShare : SignUp";
}

<div class="home-info-box float-left">
        
        <section id="about">
        
        <div id="box">
            
        <h4 class="about-heading">Offer car</h4>
        <p class="intro-para">You can offer your car in few minutes. All you need is vehicle registration, the mileage and a photo of your car.
            You can also hire a car according to your need.so,Creating account now?</p><br><br>
    
        <h4 class="about-heading">Hire a Van Near You</h4>
        <p class="intro-para">CarShare has just what you need whether you need a van hire in Pakistan,Our vans are easy to load and easy to handle. Check out our rates and hire a van today.</p><br><br>

        <h4 class="about-heading">Van Hire with Great Service</h4>

        <p class="intro-para">Hire a van from CarShare and enjoy our personalized customer service.Try a small van when you need just a bit more capacity than a car.A large van hire is perfect for a special event or occasion when you have more to move.</p>

        </div>
  
        </section>    
        
        </div>
        
        <div class="sign-up-box float-right">
            
        <h1>SIGN UP</h1>
        
         <form action="#" name="signup">
                
            <input class="txtBoxLarge" type="text" required name="sname" placeholder="Username" >
            <br>
            <br>

            <input class="txtBoxLarge" type="password" name="spass" placeholder="Password"><br><br>

            <input class="txtBoxLarge" type="text" required name="spass" placeholder="Email"><br><br>

            <input class="txtBoxLarge" type="text" required name="snic" placeholder="NIC"><br><br>

            <input class="txtBoxLarge" type="number" required name="sage" placeholder="Age"><br><br>

            <input class="txtBoxLarge" type="password" required name="scon" placeholder="Contact no"><br><br>

            <input class="txtBoxLarge" type="password" required name="sres" placeholder="Residance"><br><br>

            <textarea id="texta" required name="sdesc"  cols="27" rows="6" placeholder="Personal Description" ></textarea>
            
        </form>

        </div>
        
        <div class="clear-both"></div>
