@{
    ViewBag.Title = "Index";
}

<div id="home-p1">
            
        <h4 class="about-heading">Offer car</h4>
        <p class="intro-para">You can offer your car in few minutes. All you need is vehicle registration, the mileage and a photo of your car.
            You can also hire a car according to your need.so,Creating account now?</p><br><br>
    </div>
     <div id="home-p1" style="margin-left:305px; margin-top:170px;">
            
        <h4 class="about-heading" >Hire a Van Near You</h4>
                <p class="intro-para">CarShare has just what you need whether you need a van hire in Pakistan,Our vans are easy to load and easy to handle. Check out our rates and hire a van today.</p><br><br>

    </div>

     <div id="home-p1" style="margin-left:610px; margin-top:340px;">
            
        <h4 class="about-heading">Van Hire with Great Service</h4>
                <p class="intro-para">Hire a van from CarShare and enjoy our personalized customer service.Try a small van when you need just a bit more capacity than a car.A large van hire is perfect for a special event or occasion when you have more to move.</p1>
    </div>

<img src="@Url.Content("Content/Images/bg.jpg")" class="fixed" height="600px" width="1350px">
 <div class="sign-up-box float-right" style="margin-left:960px; margin-top:-550px;">
            
            <h1>LOGIN</h1>
            
            <form action="#" name="login">
                
                
            <input class="txtBoxLarge margin10px" type="text" required name="uname" placeholder="Username" >
            
            <input class="txtBoxLarge margin10px" type="password" required name="upass" placeholder="Password">
            
            
            <input class="signin-btn margin10px" type="submit" value="SIGN IN">
            
            
            <p>Do not have an account?sign up now</p>
            
            
            <input class="signup-btn margin10px" type="submit" value="SIGN UP">
          
        
            </form>
        </div>
        
        <div class="clear-both"></div>
        
            .
    <div class="home-video blackBorder1px">
        
        
        
    </div>
  